* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  background: #fff;
}
#header .logo {
  width: 100px;
  height: auto;
}
#image-banner {
  height: 400px;
  width: 100%;
  background-image: url(./assests/images/page-title.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.banner-content {
  max-width: 300px;
  text-align: center;
}
#image-banner .title {
  color: #fff;
  font-size: 34px;
}
#image-banner .para {
  color: #fff;
  font-size: 16px;
  margin-top: 10px;
}
#main-product-section .title {
  text-align: center;
  margin: 10px 0;
  font-size: 30px;
}
.search {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}
.search input {
  width: 500px;
  padding: 5px;
  border: 1px solid #000;
  border-radius: 5px;
}
.search-icon {
  margin-left: -20px;
  background-color: #FBBD23;
  width: 30px;
  height: 30px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
#product-list {
  max-width: 1400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  min-height: 500px;
  justify-content: center;
}
#product-card {
  width: 20%;
  background: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}
#product-card img{
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.card-info {
  padding: 10px;
}
.button-div {
  display: flex;
  margin-top: 10px;
  justify-content: right;
}
.details-btn {
  background-color:#FBBD23;
  padding: 5px 10px;
  border: 1px solid #FBBD23;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
#footer {
  height: 80px;
  margin-top: 20px;
  display: flex;
  padding: 0 100px;
  justify-content: space-between;
  align-items: center;
  background-color: #3D4451;
}
#footer p {
  color: #fff;
}
.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 800px;
  max-width: 90%;
  display: none;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #000;
}
.popup img{
  width: 100%;
  height: 400px;
  object-fit: cover;
}
.social-list {
  display: flex;
  gap: 10px;
  list-style: none;
}
.social-list li i{
  color: #fff;
}
/* Mobile Responsive Design */
@media only screen and (max-width: 767px) {
  #product-list {
    gap: 10px;
    padding: 10px;
  }
  #product-card {
    width: 45%;
  }
  #footer {
    padding: 0 20px;
  }
  .search input {
    width: 300px;
  }
}
